* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

.link {
  color: #0052ff;
  cursor: pointer;
}

.currency {
  color: #6e71cc;
  font-size: 14px;
  margin-left: 2px;
}

.coinName {
  color: darkorange;
}

.fa-wallet{
  margin-left: 3px;
  color: #788ca8;
}